@media (width <= 847px) {
    .footer__content{
        display: flex;
        flex-direction: column;
    }
}

@media (width <= 994px) {
    .footer__content{
        display: flex;
    }
    .footer__right{
        max-height: 25rem;
    }

}

@media(width <= 1170px)  {
    .footer__content{
        display: flex;
        
    }

    .navar__logo-name{
        border-radius: 3rem;
    }
    .navbar__link-logo{
        
    }
}