/*DEFINION VARIABALES*/

:root{
  --color-principal: #d8f3dc;
  --color-cambio: #fffef2;
  --color-secundario: #72c59a;

  --color-fondo: #b7e4c7;
  --color-extra: #95d5ad;
  --color-grad: linear-gradient(to right,
      tomato 0%,gold 50%, var(--color-extra) 100%
  );
  --color-new: linear-gradient(45deg, var(--color-principal),var(--color-extra),var(--color-secundario),var(--color-subtitulo));

  --color-icon: #72c59a;
  --color-btn: #95d5ad;
  --color-titulo: #72c59a; 
  --color-subtitulo: #95d5ad;
  --color-text: black;

  --font-title:"Stalemate";
  --font-subtitle:"Vujahday Script";
  --font-text:"Colonna MT";
}

/*RESET*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}
ul,ol{
  list-style: none;
  padding: 0px;
}
a{
  text-decoration:  none;
  font-size: inherit;
  display: block;
}
h1,h2,h3,h4,h5,h6{
  display: block;
}
p a{
  display: inline;
}
form, input, select, textarea, button, label{
  font-family: inherit;
  font-size: inherit;
  display: block;
}
figure { 
  margin: 0;
  padding: 0;
}
time{
  display: block;
}
/*GENERALES*/
html {
  font-size: 16px;
  color: #222222;
}
body {
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  bacKground-image: url(../img/fondo.jpg);
}
h1 {
  font-family: var(--font-title);
  color: var(--color-titulo);
  font-size: 1.4rem;
  margin-block-start:0;
}
h2 {
  font-family: var(--font-subtitle);
  color: var(--color-titulo); 
}
h3 {
  font-size: 3rem;
  color: var(--color-titulo);
}
h4 {
  font-family: var(--font-subtitle);
  color: var(--color-extra);
  font-size: 1.5rem;
}
p,
span {
  font-family: var(--font-text);
  color: var(--color-text);
}
a {
  font-family: var(--font-subtitle);
  color: var(--color-icon);
}
button {
  background-color: var(--color-icon);
  color: var(--color-principal);
}
i {
  color: var(--color-icon);
}
i,
a,
button {
  transition: all 300ms linear;
}
.img-show {
  transition: all 300ms linear;
}
li {
  transition: all 500ms linear;
}
@keyframes gcolumn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes color {
  0% {
    background-color: var(--color-btn);
  }

  33% {
    background-color: var(--color-extra);
  }

  66% {
    background-color: var(--color-fondo);
  }

  100% {
    background-color: var(--color-btn);
  }
}

/*PRUEBA COLORES NUEVOS*/
.footer__bottom,
.menu__navbar, .carrusel__bottom {
  background: linear-gradient(
    -45deg,
    #000,
    var(--color-secundario),
    var(--color-btn),
    #000
  );
  background-size: 400% 400%;
  animation: lava 7s ease infinite;
}
/*HOVERS GENERALES*/
.top__icon:hover {
  color: var(--color-extra);
  opacity: 1;
}
.form__btn:hover,
.content__btn:hover {
  scale: 1.1;
  color: var(--color-cambio);
  opacity: 1;
}
a:hover {
  /* color: var(--color-extra); */
  opacity: 1;
  transform-origin: center;
}
/* .nav__link:hover {
  transform-origin: center;
  padding: 0.5rem 1rem;
  background-color: var(--color-cambio);
  color: var(--color-subtitulo);
  height: 5.5rem; */
/* } */
.layao__content {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.layao__footer {
  width: 100%;
  margin-top: 2rem;
}
/*NAVEGACION*/
.menu__navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 2;
  transition: 700ms all linear;
}
.navbar__logo {
  position: relative;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}
.navbar__link-logo {
  display: flex;
}
.navar__logo-light {
}
.navar__logo-name:hover {
  color: var(--color-cambio);
}
.navbar__nav {
  height: 6.5rem;
  flex-basis: 60%;
  border-bottom-right-radius: 3rem;
  justify-content: space-around;
}
.nav__list {
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  height: 6.5rem;
}
.navbar__user {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--color-cambio);
  opacity: 0.7;
}
.navbar__link-icon {
  font-size: 2rem;
  opacity: 0.7;
}
.navbar__link-icon:hover {
  font-size: 3rem;
  color: var(--color-cambio);
  opacity: 1;
}
.menu__navbar:hover .navar__logo-name {
  color: var(--color-cambio);
}

/*FOOTER*/
.layao__footer {
  background-color: var(--color-cambio);
  background-image: url(../img/footer.jpg);
    background-size: cover;
}
/*FOOTER__TOP*/
.footer__top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.top__item {
  display: block;
}
.top__icon {
  font-size: 1rem;
  opacity: 0.7;
  animation: gcolumn 7s ease infinite;
  transform-origin: center;
}
/*FOTER-CONTENT*/
.footer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*FOTER-LEFT*/
.footer__left {
  display: flex;
  flex-direction: column;
  flex-basis: 34%;
  margin-bottom: 2rem;
  padding-left: 1rem;
}
.left__title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.left__text {
  margin-bottom: 2rem;
  color: var(--color-extra);
  opacity: 0.7;
}
.left__form {
  border-radius: 20px;
  padding: 1rem 5rem;
}
.form__content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.form__btn {
  position: absolute;
  right: 0;
  z-index: 1;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 16px;
  padding: 1rem;
}
.form__btn:hover {
  color: var(--color-principal);
}
.form__icon {
  position: absolute;
  left: 7px;
  z-index: 1;
  display: block;
  font-size: 2rem;
}
.form__input {
  height: auto;
  padding: 1rem 3rem;
  display: block;
  border: none;
  border-radius: 2rem;
  outline: none;
  flex: 1;
}
/*FOTER-RIGHT*/
.footer__right {
  height: 25rem;
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.right__logo {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 0 2.5rem 5rem 2.5rem;
  align-items: center;
}
.right__logo-img {
  height: 100%;
  width: 20rem;
  object-fit: contain;
}
.right__logo-volver {
  font-size: 2rem;
  display: block;
}
.right__nav {
  flex-basis: 25%;
  padding: 1rem 0 0 1rem;
}
.right__contact {
  flex-basis: 25%;
  padding: 1rem 0 0 1rem;
}
.right__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.right__option {
  margin-bottom: 1rem;
}
/*FOTER BOTTOM*/
.footer__bottom {
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 1rem;
  padding: 0 1rem;
  background-color: var(--color-btn);
}
.bottom__copyright {
  padding-top: 1rem;
  flex-basis: 50%;
  justify-content: left;
}
.bottom__links {
  flex-basis: 50%;
  justify-content: flex-end;
}
.copyright__text,
.copyright__text > a {
  display: inline;
  color: var(--color-fondo);
}
.bottom__link {
  color: var(--color-fondo);
}
.bottom__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 2rem;
  margin: 1rem;
}
/*AUDIO*/
.layao__conteiner__music{
  height: 100px;
  width: 150px;
  background-image: url(../img/fondomusic.png);
  background-size: cover;
  position: fixed;
  bottom: 0%;
  right: 0%;
}
audio{
  height: 3rem;
  width: 15rem;
  border-radius: 1rem;
}
.btn__play{
  font-size: 1rem;
  background-color: transparent;
  border: transparent;
  position: absolute;
  bottom: 0.5rem;
  left: 2.2rem;
  color: var(--color-secundario);
}

/*PAGINA INDEX*/

/*CARRUSEL*/
.content__carrusel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.carrusel__conteiner-top {
  flex: 9.5;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}
.carrusel__bottom {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-cambio);
}
.carrusel__span{
  color: var(--color-secundario);
  font-size: 0.8rem;
}
.carrusel__item {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}
.carrusel__tarjeta {
  width: 100%;
  height: 100%;
  flex: 1;
}
#carousel-tarje1 {
}
#carousel-tarje2 {
}
#carousel-tarje3 {
}
.carrusel__flechas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.carousel__btn-izq,
.carrusel__btn-der {
  font-size: 2.5rem;
  color: var(--color-btn);
  opacity: 0.7;
}
.carousel__btn-izq:hover,
.carrusel__btn-der:hover {
  font-size: 3rem;
  opacity: 1;
}
.carrusel__circles {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 2%;
  left: 0;
  opacity: 0.7;
}
.carrusel__circle-link {
  font-size: 3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 2px solid var(--color-btn);
  padding: 0 2rem;
  margin: 0 2rem;
}
.carrusel__circle-link:hover {
  background-color: var(--color-cambio);
  opacity: 1;
}
.img-show {
  width: 100%;
  height: 100%;
}
/*GENERALES*/
.content__generales {
  margin-top: 4rem;
  position: relative;
  background-color: var(--color-cambio);
  background-image: url(../img/prodc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content__generales:hover .content__title-color {
  transform: translateX(1rem);
}
.content__title-color {
  color: var(--color-extra);
  display: block;
  text-align: center;
  font-size: 2rem;
  transition: all 300ms linear;
}
.content__title {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  /* position: absolute; */
}
.generales__navbar {
  width: 100%;
  /* position: absolute; */
  display: flex;
  background-color: var(--color-cambio);
  font-size: 0.7rem;
  margin-top: 1rem;
}
.generales__list {
  width: 100%;
  padding-left: 0 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.generales__item {
  flex-basis: 20%;
  text-align: center;
  padding: 1rem;
}
.generales__conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.generales__productos {
  margin-top: 12rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.productos__item {
  overflow: hidden;
  width: 20rem;
  margin-bottom: 1rem;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid var(--color-principal);
}
/*KITS*/
.content__kit {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../img/footer.jpg);
}
.kit__left {
  height: 100%;
  flex-basis: 50%;
}
.kit-video {
}
.kit__right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-cambio);
}
.kit__conteiner-img {
  margin-bottom: 3rem;
  height: 50%;
}
.kit__img {
  width: 100%;
  height: 100%;
}
.kit__content {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.content__subtitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--color-principal);
}
.content__text {
  margin-bottom: 2rem;
}
.content__btn {
  width: 40%;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.content__btn {
  color: var(--color-principal);
}
/*ICONS*/
.content__icons {
  margin: 5rem 0;
  background-color: var(--color-secundario);
}
.icons__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  height: inherit;
}
.icons__item {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
}
.icons__icon {
  font-size: 2.5rem;
  color: var(--color-principal);
}
.icons-text {
  position: absolute;
  font-size: 0.9rem;
  opacity: 0;
}
.icons__item:hover{
  background-color: var(--color-principal);
  color: var(--color-cambio);
  padding: 1rem;
}
.icons__item:hover .icons__icon{
  color: var(--color-secundario);
  padding-top: 1rem;
  transform: scale(1.5);
}
.icons__item:hover h4{
  color: var(--color-secundario);
}
/*RESENIAS*/
.content__resenas{
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 4rem;
  background-image: url(../img/resenias.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
.content__resenas h1{
  color: var(--color-icon);
}
.reseñas__left{
  width: 100%;
}
#girasol__3d{
  display: flex;
  justify-content: center;
}
.caja{
  background-color: rgba(255, 254, 242, 0.5);
  border-radius: 2rem;
  border: 3px solid palegreen;
  width: 15rem;
  height: 20rem;
  transform: rotateY(0deg);
  transform: rotateX(0deg);
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 0 0 10px rgb(0, 0, 0,0.5);
}
.resenas__conteiner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4rem;
}
.resena__conteiner__img{
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  overflow: hidden;
  position: absolute;
  left: 10%;
  top: 10%;
}
.title{
  text-shadow: 0 0 10px rgb(0, 0, 0,0.5);
  margin-left: 1rem;
}
.text{
  text-shadow: 0 0 10px rgb(0, 0, 0,0.5);
  color: var(--color-secundario);
  font-size: 0.8rem;
  position: absolute;
  top: 12rem;
}
.title{
  position: absolute;
  font-size: 1.5rem;
}
/*BODY*/
.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.producto {
  width: 500px;
  height: 355px;
  border: 3px solid #00000060;
  margin: 3px;
  padding: 5px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.producto:hover {
  background: #ffff0050;
}
.producto-img {
  aspect-ratio: 1/1;
  width: 60%;
}
main {
  display: flex;
  flex-direction: column;
}
.Header-Container > .encabezadoMobile {
  display: flex;
  flex-direction: column;

  margin-bottom: 2px;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
}
.Header-Container > .encabezadoMobile .barras {
  justify-content: flex-end;
  margin-right: 10px;
  padding: 15px;
}
.oculto,
.muestra > a + a {
  display: none;
}
.carrusel__flechas,
.carrusel__circles,
.generales__conteiner{
  display: none;
}
@media screen  and (min-width : 800px){
  /*ESTILOS GENERALES*/
  h1 {
    font-size: 5rem;
  }
  .navbar__logo {
    position: relative;
    flex-basis: 25%;
    display: flex;
    flex-direction: row;
  }
  .navbar__link-logo {
    display: flex;
  }
  .navar__logo-light {
  }
  /*FOOTER*/
  .layao__footer {
    background-color: var(--color-cambio);
  }
  /*FOOTER__TOP*/
  .footer__top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .top__item {
    display: block;
  }
  /*FOTER-CONTENT*/
  .footer__content {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  /*FOTER-LEFT*/
  .left__title {
    text-align: left;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .form__content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .form__btn {
    display: block;
  }
  /*FOTER-RIGHT*/
  .footer__right {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  /*FOTER BOTTOM*/
  .footer__bottom {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .bottom__list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  /*INDEX*/
  /*CARRUSEL*/
  .carrusel__bottom {
    flex-direction: row;
  }
  .carrusel__flechas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .carrusel__circles {
    display: flex;
    flex-direction: row;
  }
  .generales__navbar {
    display: flex;
    flex-direction: row;
  }
  .generales__list {
    display: flex;
    flex-direction: row;
  }
  .generales__conteiner {
    display: flex;
    flex-direction: column;
  }
  .generales__productos {
    display: flex;
    flex-direction: row;
  }
  /*KITS*/
  .content__kit {
    display: flex;
    flex-direction: row;
  }
  .icons__list {
    display: flex;
    flex-direction: row;
  }
  .oculto,
  .muestra > a + a {
    display: none;
  }
  .layao__footer .right__contact .right__list{
    display: flex;
    flex-direction: column;
  }
  }
  .layao__formulario{
    margin: auto;
    background-color: var(--color-cambio);
    padding: 2px;
  }
  
  /*PAGINA PRODUCTOS*/
  .producto{
    background-color: var(--color-cambio);
  }
  

/*EXTRAS*/
.conteiner__video{
    width: 100%;
    height: 100vh;
}
.carrusel__video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.imgprod{
    position: absolute;
    bottom: -35px;
    left: -25px;
    width: 300px;
    height: 601px;
    object-fit: cover;
}
.carrusel__tarjeta{
    position: relative;
}
.girasol__3d{
    display: flex;
    justify-content: center;
}
.conteiner__fondo{
    transition: transform 0.5s;
}
.carrusel__flechas{
    display: none;
}
.carrusel__video{
  transition: filter 3s ease;
}
.imgprod{
  transition: filter 3s ease;
}
.imgprod:hover{
  filter: saturate(200%);
  box-shadow: rgb(0, 0, 0,0.5);
}
.borroso{
  filter: blur(5px);
}
.transicion{
  filter: blur(100px);
}
.titleColor2{
  color: #1A6677;
  opacity: 1;
}
.titleColor3{
  color: #f8e3ce;
  opacity: 1;
}
.tlitleC1{
  position: absolute;
  top: 6rem;
  right: 0;
  writing-mode: vertical-lr;
  rotate: 180deg;
  font-size: 2rem;
}
@media (width >= 500px) {
.layao__formulario{

  padding: 2rem 5rem;
}
}
@media (width >= 700px) {
  .tlitleC1{
    writing-mode: horizontal-tb;
    rotate: 360deg;
    top: 45%;
    right: 1rem;
    font-size: 3rem;
  }
  .imgprod{
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: 330px;
    height: 650px;
    object-fit: cover;
}
}
